[:head
 [:meta {:charset "utf-8"}]
 [:meta {:name    "viewport"
         :content "width=device-width, initial-scale=1"}]
 [:meta {:http-equiv "Content-Type"
         :content    "text/html"}]
 [:title #ep/val [:title "Default Header"]]
 #ep/val [:css (hiccup.page/include-css "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css")]
 #ep/val [:js (hiccup.page/include-js "https://unpkg.com/htmx.org@1.9.12")]]
